{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Change" %}{% endblock title %}
{% block content %}
<h2>{% trans "application" %}</h2>
<p>{{ application }}</p>
<form method="POST" enctype="multipart/form-data">
	{% csrf_token %}
	<div class="card" style="width:100%">
		<div class="card-header">	
			<p>{{ view_application.date_application | date:"d.m.Y H:i" }}</p>		
			<h4>{{ view_application.first_name }} {{ view_application.last_name }}</h4>							
			<p><strong>{% trans "phone_number" %}</strong>: {{ view_application.phone_number }}</p>			
			<p><strong>{% trans "telegram_id" %}</strong>: {{ view_application.telegram_id }}</p>			
		</div>
		<div class="card-body">
			<p><strong>{% trans "device_type" %}</strong>: {{ view_application.device_type }}</p>			
			<p><strong>{% trans "manufacturer" %}</strong>: {{ view_application.manufacturer }}</p>			
			<p><strong>{% trans "model" %}</strong>: {{ view_application.model }}</p>			
			<p><strong>{% trans "problem" %}</strong>: {{ view_application.problem }}</p>			
		</div>
		<div class="card-footer">				
			<table>
				{{ form }}
			</table>
		</div>		
	</div>
	<br>
	<div class="div-button-center">
		<button type="submit" class="btn btn-outline-success" style="width:120px">{% trans "Save" %}</button>	
		<a class="btn btn-outline-info" style="width:120px" href="{% url 'application_index' %}">{% trans "Back" %}</a> 	
	</div>	
</form>
{% endblock content %}